<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 recipe-detail-title">
        <h2>{{recipe.name}}</h2>
    </div>
    <div class="col-xs-6 text-right">
        <div class="btn-group" app-dropdown>
            <button class="btn btn-primary dropdown-toggle">
              Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a  style="cursor: pointer" (click)="addIngredients(recipe.ingredients)">Add to Shopping list</a></li>
                <li><a  style="cursor: pointer">Edit recipe</a></li>
                <li><a  style="cursor: pointer">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<hr class="no-margin-bottom">
<div class="row">
    <div class="col-xs-12">
        <h2>Preparation details</h2>
        <div>{{recipe.preparationDetails}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 row-no-gutters">
        <h2>Ingredients</h2>
        <ng-container *ngFor="let ingredient of recipe.ingredients">
           <p class="col-xs-6"> {{ingredient.name}}</p>
            <p class="col-xs-6">{{ingredient.amount}}</p>
        </ng-container>
    </div>
</div>
