<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 recipe-detail-title">
        <h2>Recipe Name</h2>
    </div>
    <div class="col-xs-6 text-right">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
              Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to Shopping list</a></li>
                <li><a href="#">Edit recipe</a></li>
                <li><a href="#">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<hr class="no-margin-bottom">
<div class="row">
    <div class="col-xs-12">
        <h2>Preparation details</h2>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Ingredients</h2>
        <p></p>
    </div>
</div>