<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-4"></div>
        <div class="col-xs-10 col-md-4">
            <h2>{{logIn ? 'Log in' : 'Sign up'}}</h2>
            <form (ngSubmit)="onLogin(f)" #f="ngForm">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email"
                           required
                           email
                           class="form-control"
                           id="username"
                           name="email"
                           ngModel
                    >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           id="password"
                           class="form-control"
                           name="password"
                           required
                           minlength="8"
                              ngModel
                    >
                </div>
                <button [disabled]="!f.valid" class="btn btn-primary"
                        type="submit">{{logIn ? 'Log in' : 'Sign up'}}</button>
            </form>
            <p>{{logIn ? 'Not an user? ' : 'Already an user? '}}<a
                    (click)="signupMode()">{{logIn ? 'log in' : 'sign up' }} here</a>.</p>
        </div>
        <div class="col-xs-1 col-md-4"></div>
    </div>
</div>
