<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" required ngModel>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" class="form-control" name="amount" required ngModel>
                </div>
                <div class="col-sm-4 console-panel">
                    <button class="btn btn-success mr-5" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger mr-5" type="button">Delete</button>
                    <button class="btn btn-primary mr-5" type="button">Clear list</button>
                </div>
            </form>
        </div>
    </div>
</div>
